.App {
  background-color: #0d0d0d;
  color: #848484;
  min-height: 100vh;
}

.dropdown_form {
  background: linear-gradient(180deg, #242424, #121212 65.62%);
  border-radius: 12px;
  background-color: #0a0a0a;
  border-radius: 12px;
}

.form-select {
  background-color: #241d1d !important;
  color: #fff !important;
}

.dropdown-toggle {
  background-color: #241d1d !important;
  border-color: #0a0a0a !important;
}

.dropdown-menu {
  padding: 0.25rem 0 0.4rem 0.5rem !important;
  position: absolute;
  background-color: #191919 !important;
  border: 1px solid #3c3c3c !important;
  border-radius: 3px !important;
  max-width: fit-content;
  min-width: fit-content;
}

.avatar {
  width: 25px;
  height: 25px;
}

.ace-editor-container {
  width: 100% !important;
}

.ace_editor {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(249, 249, 249, 0.08);
  border-top: none;
  font-weight: 500 !important;
  font-size: 17px !important;
  line-height: 1.5rem !important;
}

.form-control {
  background-color: #3f2920 !important;
  color: #fff !important;
  border:transparent !important;
}

.input_title{
  background-color: #3f2920 !important;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border: 2px solid hsla(0, 0%, 98%, 0.08);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
